<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vásárlói visszajelzések portal</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/home.css">



</head>

<body class="d-flex  text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand" href="/">Vásárlói portál</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                      <a class="nav-link" href="/">Kezdőlap</a>
                      <a class="nav-link" href="/panaszok">Vásárlói visszajelzések</a>
                      <a class="nav-link" href="/panaszok/new">Új visszajelzés</a>
                  </div>
                  <div class="navbar-nav ml-auto">
                      <% if(!currentUser) {%>
                      <a class="nav-link" href="/login">Belépés</a>
                      <a class="nav-link" href="/register">Regisztráció</a>
                      <% } else {%>
                      <a class="nav-link" href="/logout">Kijelentkezés</a>
                      <% } %>
                  </div>
              </div>
          </div>
      </nav>

    </header>

 <main class="px-3">
   Vásárlói visszajelzés portál
   <p class="lead">Nagyon számítunk a visszajelzésére . Vagy ha bármi panasza van had segítsünk. </p>
   <a href="/panaszok" class="btn btn-lg btn-secondary font-weight-bold bg-white">Vásárlói visszajelzések megtekintése</a>
 </main>

<footer class="mt-athu text-white-50"></footer>
<p>&copy; Kaldi Patrik Szakdolgozat</p>
  </div>




    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

</body>

</html>
